
.mars{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80vw;
    height: 80vw;
    background-image: url(../../assets/img/mars1k.jpg);
    //background-repeat: repeat-x;
    border-radius: 50%;
    background-size:cover;
    box-shadow: inset 16px 0 40px 3px black, -20px -20px 50px 2px #000000 inset, 0 0 20px 2px #000000;
    //animation: spin 40s linear alternate infinite;
    animation-fill-mode: forwards;
    //animation: spin 40s linear normal infinite;
    animation-name: spin3;
    animation-duration: 400s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin{
    100%{ background-position: 0%; }
}

@keyframes spin2 {
    from {
        background-position-x: 0%;
      }
      to {
        background-position-x: 100%;
      }
}

@keyframes spin3 {
  //0% { background-position-x: 0; }
  100%{ background-position-x: -800%;}
}

@keyframes spinGalaxy {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -800% -800%;
  }
}

@keyframes moveDown {
  from {
    background-position-x: 0%;
  }
  to {
    background-position-x: 100%;
  }
}

@keyframes animatedBackground {
  0% { background-position: 0 0; }
  100% { background-position: -900px 0; }
}
.content{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100vw;
  height: 200%;
  background-image: url(../../assets/img/galaxycrop.jpg);
  //background-repeat: repeat-x;
  background-size:cover;
  overflow: hidden;
  box-shadow: inset 8px 0 20px 3px black, -10px -10px 25px 2px #000000 inset, 0 0 10px 2px #000000;
  //animation: spin 40s linear alternate infinite;
  
  /*
  animation-fill-mode: forwards;
  //animation: spin 40s linear normal infinite;
  animation-name: spinGalaxy;
  animation-duration: 2400s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  */

  
  }
