<!--<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="content"></div>
  <div class="mars" id="marsImage" (click)="clickedGlobe()"></div>
  <!-- <div class="dot"></div> -->
</ion-content>
