<ion-tabs>
  <ion-tab-bar slot="bottom" color="success" class="tabs">
    <ion-tab-button tab="messages" (click)="shareService.tapVibrate()">
      <ion-icon src="assets/icons/satellite.svg"></ion-icon>
      <!--<ion-label>Messages</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="maps" (click)="shareService.tapVibrate()">
      <ion-icon src="assets/icons/mars.svg"></ion-icon>
      <!--<ion-label>Map</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="suits" (click)="shareService.tapVibrate()">
      <ion-icon src="assets/icons/astronaut.svg"></ion-icon>
      <!--<ion-label>Suits</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
