.headRoger{
    top: 0;
    left:35%;
    width: 35%;
    height: 25%;
    position: absolute;
    //background-color: darkgreen;
    opacity: 0.7;
}

.torsoRoger{
    top: 25%;
    left:30%;
    width: 50%;
    height: 25%;
    position: absolute;
    //background-color: chartreuse;
    opacity: 0.7;
}

.arm1Roger{
    top: 30%;
    left:5%;
    width: 25%;
    height: 40%;
    position: absolute;
    //background-color:blue;
    opacity: 0.7;
}

.arm2Roger{
    top: 50%;
    right: 10%;
    width: 15%;
    height: 25%;
    position: absolute;
    //background-color:blue;
    opacity: 0.7;
}

.legsRoger{
    top: 50%;
    left:35%;
    width: 40%;
    height: 50%;
    position: absolute;
    //background-color:red;
    opacity: 0.7;
}


.heartRate{
    position: absolute;
    background-image:url("../../assets/img/heartbeat.gif");
    background-repeat: no-repeat;
    background-size: contain;
    top: 7%;
    left: 8px;
    bottom: 0;
    width: 35%;
    height: auto;
    opacity: 0.5;
}

.overlay {
    background-image:url("../../assets/img/scaline.png");
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.background{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#181616; 
}

.astronaut{
    width: 100%;
    height: 100%;
    background-position: absolute;
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../assets/img/astronaut.png");
    background-size: cover;
}

.astronaut2{
    width: 100%;
    height: 100%;
    background-position: absolute;
    position: fixed;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../../assets/img/rigel.png");
    background-size: cover;
}

.headRigel{
    top: 0;
    left:35%;
    width: 30%;
    height: 25%;
    position: absolute;
    //background-color: darkgreen;
    opacity: 0.7;
}

.torsoRigel{
    top: 25%;
    left:30%;
    width: 40%;
    height: 35%;
    position: absolute;
    //background-color: chartreuse;
    opacity: 0.7;
}

.arm1Rigel{
    top: 30%;
    left:5%;
    width: 25%;
    height: 40%;
    position: absolute;
    //background-color:blue;
    opacity: 0.7;
}

.arm2Rigel{
    top: 30%;
    right: 10%;
    left: 70%;
    width: 25%;
    height: 40%;
    position: absolute;
    //background-color:blue;
    opacity: 0.7;
}

.legsRigel{
    top: 60%;
    left:30%;
    width: 38%;
    height: 40%;
    position: absolute;
    //background-color:red;
    opacity: 0.7;
}