<!-- <script src="../../assets/js/three.min.js"></script>
<script src="../../assets/js/OBJLoader.js"></script>
<script src="../../assets/js/model-element.min.js"></script> -->

<ion-toolbar color="success">
  <ion-segment [(ngModel)]="currentSuit" (ionChange)="suitChanged($event)">
    <ion-segment-button value="rogerSuit">
      <ion-label>Roger</ion-label>
    </ion-segment-button>
    <ion-segment-button value="rigelSuit">
      <ion-label>Rigel</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content padding>
  <!-- <div class="3Dmodel">
    <x-model class="cube" src="../../assets/models/cube.obj"></x-model>
  </div>-->
  <!-- <threed-viewer [urlFile]="'../../assets/models/cube.obj'"></threed-viewer>-->
  <!--<div #domObj></div>-->

  <!-- Default Segment -->

  <div id="rogerSuit" *ngIf="currentSuit == 'rogerSuit'">
    <div class="background">
      <div class="astronaut">
        <div class="heartRate"></div>
      </div>
      <div class="overlay"></div>
    </div>

    <div class="headRoger" (click)="clickedPart('head')"></div>
    <div class="torsoRoger" (click)="clickedPart('torso')"></div>
    <div class="arm1Roger" (click)="clickedPart('arm')"></div>
    <div class="arm2Roger" (click)="clickedPart('arm')"></div>
    <div class="legsRoger" (click)="clickedPart('legs')"></div>

  </div>

  <div id="rigelSuit" *ngIf="currentSuit == 'rigelSuit'">

    <div class="background">
      <div class="astronaut2">
        <div class="heartRate"></div>
      </div>
      <div class="overlay"></div>
    </div>

    <div class="headRigel" (click)="clickedPart('head')"></div>
    <div class="torsoRigel" (click)="clickedPart('torso')"></div>
    <div class="arm1Rigel" (click)="clickedPart('arm')"></div>
    <div class="arm2Rigel" (click)="clickedPart('arm')"></div>
    <div class="legsRigel" (click)="clickedPart('legs')"></div>
  </div>

</ion-content>