
<style>
  #bodyOver {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;

    background-color: #181616;

    /* background-image: url(./assets/img/overlay.png); */
    pointer-events: none;
    opacity: 1;

  }
  #body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;

    background-color: #181616;



    /* animation: leave;
    animation-duration: 4s;
    animation-timing-function: linear; */
  
  }
  #loaderSvg {
    width: 50vw;
    margin-left: 25vw;
    height: 50vw;
    margin-top: calc(50vh - 25vw);

    animation-name: resize;
    animation-duration: 5000ms;
    animation-timing-function: linear;

    z-index: 4;
  }

  @keyframes sakrij {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    65% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  /*
  @keyframes opacity {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  */
 
  @keyframes resize {
    0% {
      transform: scale(0.01);
      margin-left: 80vw;
    }
    40% {
      transform: scale(1);
      margin-left: 25vw;
      /*height: 50vw; */
    }
    /*70% {
      height: 50vw;
    }
    85% {
      height: 1vw;
      width: 50vw;
    }
    100% {
      height: 1vw;
      width: 100vw;
    }*/
  }
  
</style>


<div id="body">
    <div class="stars"></div>
    <div class="twinkling"></div>
    <img src="../../assets/img/loader.svg" id="loaderSvg">
</div>



