
@keyframes move-twink-back {
    from {background-position:-1 -1;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:transparent url(../../assets/img/stars.png) repeat top center;
  //z-index: 0;
}

.twinkling{
  background:transparent url(../../assets/img/twinkling.png) repeat top center;
  //z-index: 1;
  animation: move-twink-back 300s linear infinite;
}
