<ion-toolbar>
    <ion-button slot="secondary" fill="outline" (click)="closeMap()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
<ion-content>
<!-- <div class="map" id="marsMap"></div> -->

<div id="container">
  <div id="item">
    <img src="../../assets/img/red_dot.png" id="spot">
  </div>
</div>


</ion-content>
