.map{
    width: 100%;
    height: 100%;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    background: url(../../assets/img/mars6k.jpg) no-repeat;
    background-size: cover;
}

#spot {
  position: absolute;

  width: 30px;
  height: 30px;

  animation-name: hover;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

#container {
    width: 100%;
    height: 100vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    //overflow: hidden;
    touch-action: none;
  }
  #item {
    width: 1000px;
    height: 100%;
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    //background-color: rgb(245, 230, 99);

    background: url(../../assets/img/mars1k.jpg) no-repeat;
    //background-size: cover;

    //border: 10px solid rgba(136, 136, 136, .5);
    //border-radius: 50%;
    touch-action: none;
    user-select: none;
  }
