.topTitle{
  font-family: "Terminal_Font";
}

.messagesContent{
  padding: 10px;
  position: absolute;
  //color: #ececec;

  //color: #f7934c;

  //color: #6677db; -> color used the most

  color: #4989f0;

  font-family: "Terminal_Font";
  bottom: 40%;
  //margin-bottom: 40%;

  animation: glow 3s ease-in-out infinite alternate;

  //text-shadow: 1px 1px 2px black; 
  //text-shadow: 0 0 1px #6677db, 0 0 1px #6677db, 0 0 1px #2f4be7, 0 0 1px #4f67f1; //0 0 5px #3551ec, 0 0 6px #3552f5, 0 0 7px #3d57ee;
}

@keyframes glow {
  from {
    text-shadow: 0 0 4px #6677db; // 0 0 1px #6677db, 0 0 1px #2f4be7, 0 0 1px #4f67f1;
    //text-shadow: 0 0 1px #6677db, 0 0 2px #6677db, 0 0 3px #2f4be7, 0 0 4px #3a55f0, 0 0 5px #3551ec, 0 0 6px #3552f5, 0 0 7px #3d57ee;
  }
  to {
    text-shadow: 0 0 10px #6677db; // 0 0 5px #6174e2, 0 0 2px #425cee, 0 0 2px #4560f8; // 0 0 6px #3853ec, 0 0 7px #3851e2, 0 0 8px #3a56f1;
  }
}

.selectionText0 {
  font-family: "Terminal_Font";

  color: #f5f5f5;

  animation: pulse;
  animation-iteration-count: infinite;
  animation-duration: 1.2s;
}

.selectionText1 {
  font-family: "Terminal_Font";

  color: #f5f5f5;

  opacity: 0.7;

  animation: pulse2;
  animation-iteration-count: infinite;
  animation-duration: 1.2s;
}

.chooseButton {
  position: absolute;
  top: 100%;
}

.startButton{
  --border-color: white;
  color: white;
  font-family: "Terminal_Font";

  position: absolute;
  width: 90%;
  left: 4.5vw;

  top: 60%;
}

.blackBackground{
  background: #222428;
}

ion-content {
  --ion-background-color:#222428;
}

.transparentBackground {
  background: transparent;
}

@keyframes pulse {
  50% {opacity: 0.7;}
}

@keyframes pulse2 {
  50% {opacity: 1;}
}


