<div class="frontLayer"></div>
<div class="frontLayer2"></div>
<ion-toolbar color="dark">
  <ion-title class="topTitle">
    Terminal Source
  </ion-title>

  <ion-button slot="secondary" fill="outline" (click)="shareService.takePhoto('TakePicture-Landscape-sky,plant,road,asphalt,vehicle,race')">
    <ion-icon name="camera"></ion-icon>
</ion-button>
  <ion-button slot="secondary" fill="outline" (click)="shareService.resetStory()">
    <ion-icon name="refresh"></ion-icon>
</ion-button>
</ion-toolbar>


<ion-content>
  
  <div class="messagesContent transparentBackground">
    <!-- <span typingAnimation [typeSpeed]="80" [startDelay]="2000" [hideCursorOnComplete]="true">Dobar vam dan! Zovem se ratko. I ja sam istrazivac i to i to.</span>-->
    
    <div class="loaderList" *ngIf="shareService.loader.start">
      <span [hidden]="shareService.loader.finished" typingAnimation [typeSpeed]="0.00001" [startDelay]="2000" [hideCursorOnComplete]="true" (complete)="shareService.loaderCompleted()" innerHTML="⋝ {{shareService.loader.text}}"></span><br><br>
    </div>
    
    <div class="listOfMessages" *ngIf="shareService.loader.finished">
      <span *ngFor="let el of shareService.messages; let i = index">
        <span *ngIf="el.finished" innerHTML="⋝ {{el.author}}: {{el.message}}"></span>
        <span (click)="shareService.clickedText(i)" *ngIf="!el.finsihed" [hidden]="el.finished" typingAnimation [typeSpeed]="15" [startDelay]="2000" [condition]="shareService.canWrite(i)" [hideCursorOnComplete]="true" (complete)="shareService.completedWrite(i)" innerHTML="⋝ {{el.author}}: {{el.message}}"></span><br><br>
      </span>
    </div>

    <div class="chooseButton" [hidden]="!shareService.messages[shareService.messages.length - 1].finished">
      <!-- <ion-button (click)="selectedButton(button)" color="primary" *ngFor="let button of buttonOptions; let i = index">{{button.name}}</ion-button> -->
      <span (click)="shareService.selectedButton(button)" *ngFor="let button of shareService.buttonOptions; let i = index" class="selectionText{{i % 2}}">⋝ {{button.name}}<br><br></span>
    </div>
  </div>

  <ion-button class="startButton" (click)="shareService.startChapter()" [class.fadeOut]="shareService.beginHidden" *ngIf="!shareService.beginHidden2" fill="outline" strong="true" color="light">Allow Connection</ion-button>
</ion-content>
