// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@font-face {
    font-family: "Terminal_Font";
    src: url(./assets/fonts/terminal.ttf);
}

@font-face {
    font-family: "Glass_TTY_VT220";
    src: url(./assets/fonts/Glass_TTY_VT220.ttf);
}

.frontLayer{
    background-image: url(./assets/img/overlay.png);
    position: absolute;
    z-index: 500;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.3;
}


.frontLayer2{
    background-image: url(./assets/img/scaline.png);
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0.2;
}

.fadeOut {
    transition: opacity 2s ease-in-out;
    opacity: 0;
}

